.ipynb_checkpoints/
*.pyc
.DS_Stor

.idea
*checkpoints*
*results*
*.pth

*.dng
*.CR2
*.png
*.jpg
*.pbz2
*.bz2
*.gz
*.xz
*.npz
*.npy
*.tif
*.tiff
*pkl

*.json
train-out
test-out
test-out/DB_samples

*.avi


