colour==0.1.5
colour_demosaicing==0.1.6
numpy==1.20.1
opencv_python==4.5.1.48
Pillow==9.0.0
pyexiv2==2.7.1
PyYAML==6.0
rawpy==0.17.0
scikit_image==0.19.0
skimage==0.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.60.0
